@import "colors";

#footer {
    background-color: $purple;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // text-align: center;
        // font-size: 0.9rem;
        
        > p a svg{
            font-size: 1.5rem;
            margin-bottom: -6px;
            margin-left: 5px;
        }
    }

    > .logo {
        width: fit-content;
        padding: 5px 10px;
        transition: 0.2s;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 900;
    }
}