@import "colors";

#signup {
    background: $cream;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    > .container {
        width: 50%;
        
        > .title {
            text-align: center;
            margin-bottom: 30px;
            
            > h2 {
                font-weight: 500;
            }

            > h1 {
                padding: 5px 10px;
                font-size: 1.5rem;
                font-weight: 900;
                cursor: pointer;
            }
        }

        > form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > .pwdGroup {
                position: relative;
                
                > span {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }

            > .errMessage {
                // margin-left: 10px;

                display: flex;
                align-items: center;
                
                > svg {
                    stroke: red;
                }
                
                > p {
                    color: red;
                    margin-left: 8px;
                    font-size: 0.8rem;
                }
            }

            input[type="text"],
            input[type="password"],
            input[type="submit"]  {
                font-size: 1rem;
                padding: 1rem;
                border: 1px solid black;
                border-radius: 5px;
                outline: none;
                width: 100%;
            }

            input[type="submit"] {
                // font-size: 0.5rem;
                padding: 0.5rem 1rem;
                align-self: center;
                width: auto;
                background-color: $lighterpurple;
                cursor: pointer;

                &:active {
                    background-color: $purple;
                }
            }

        }
    }
}